
.container {
  display: grid;
  grid-template-columns: auto 320px 320px auto;
  grid-template-rows: auto;
  grid-gap: 14px;
  text-align: left;
  list-style-type: none;
  margin-top: 14px;
}

.border1 {
  grid-column:auto;
}

.box1 {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0 4px 4px -6px gray;
}

.status {
  color: silver;
  font-size: 16px;
  font-weight: normal;
}

.box2 {
  background-color: white; 
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0 4px 4px -6px gray;
}

.buttons{
  border-top: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  text-align: left; 
}

.approve {
  color: limegreen;
  border: 1px solid limegreen;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right-color: white;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 44px;
  padding-right: 44px;
  margin-left: 12px;
}

.decline {
  color: red;
  border: 1px solid red;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 44px;
  padding-right: 44px; 
  margin-left: -6px;
}

h3, p {
  padding-left: 18px;
  padding-top: 0px;
  line-height: 1;
  margin-top: 14px;
}

h3 {
  font-size: 22px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
}

p {
  color: darkslategray;
  align-content: top;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}


ul {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  display: inline;
  margin:0px;
  padding:0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

li {
  display: inline;
}

ul a {
  text-decoration: none;
}

.border2 {
  grid-column:auto;
}

.image {
  float:right;
  height: 40px;
  padding-top: 14px;
  padding-right: 14px;
}
